body {
    background-color: #0f0f0f;
    color: #0f0f0f;
}

.meteo {
    text-align: center;
    margin-top: 15%;
    font-family: 'Indie Flower', cursive;
    font-size: 200%;
    font-weight: bold;
}

.music {
    text-align: center;
    margin-top: 5%;
}

.bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.6;
}